.video-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:20px;
}
.video {
    max-width: 400px;
    width:100%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden; /* prevents content from overflowing */
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.video-info {
    padding: 10px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.channel {
    font-size: 14px;
    color: gray;
    margin: 2px 0;
}

.views {
    font-size: 13px;
    color: gray;
}

.button{
    background-color: skyblue;
    color: black;
    border-radius: 2px;
}
.searchbar{
    display: flex;
    justify-content: center;
    padding:20px;
    
}
.contents{
    display: flex;
    justify-content: space-around;
    background-color: lavenderblush;
}
.detail-title{
    color: blueviolet;
}