.Navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    /* background-color: aqua; */
}
.list{
    display:flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
.list-items{
    padding: 10px;
    margin:10px;
    
}
.Navbar a {
    text-decoration: none;
    color: inherit;
}
.Navbar li {
    list-style: none;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}
.container {
  display: flex;
  margin-top: 10px; /* push below fixed top-nav */
  /* height: calc(100vh - 60px); */
}
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* scroll if needed */
  transition: margin-left 0.3s ease;
}
.Navbar.collapsed {
  width: 70px;
}

/* Hamburger button */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  color: black;
}
.content-collapsed {
  margin-left: 70px;
}
.user{
    width:60px;
}
hr {
  border: none;
  border-top: 1px solid #ccc; /* light gray line */
  margin: 8px 0;              /* spacing above & below */
}